body {
    background-color: rgb(9, 44, 90);
}

.board {
    width: fit-content;
    margin: 0 auto;
    border: 2px solid black;
}

.cont {
    display: flex;
}

.square {
    height: 75px;
    width: 75px;
    border: 2px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}